<% include ../views/partials/header %>

<style>
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}


.poop button:hover span {display:none}
.poop button:hover:before {
content:"LEAVE?";
letter-spacing: 0.07em;
font-size:11px;
font-family:Helvetica;
font-weight:bold;
color:#ff003e;
}


.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "yes no";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #44dd44; 
}

.toggle:checked:before {
  left: 32px;
}


</style>
















    </head>
    <body style="background-color:black;">          
    <div class="container">
        <%- messages('message', locals) %>


<br>
<br>
<%if (frozen) { %>
	<h1 style="color:#ff8800;">Your account is under review.</h1>
<% } else { %>


<div class="row">

    <div class="col-md-5" style="background-color:#bbbbbb;margin:10px;">
	<br>
        <!-- answered by DJ18 https://stackoverflow.com/questions/9707397/making-a-div-vertically-scrollable-using-css -->
        <div style="overflow-y:scroll; overflow-x:hidden; height:350px;">
        <table class="table table-hover" style="background-color:#cccccc;">
            <% tagsAll.forEach(function(tag){ %>
            <tr><td><div class="row"><div class="col-xs-6" style="word-wrap:break-word;display:inline-block;">
			    <!-- https://stackoverflow.com/questions/499137/how-can-i-force-a-long-string-without-any-blank-to-be-wrapped -->
                                <%= tag.description %>
	        </div>
	        <div class="col-xs-3" style="text-align:right;">
				<% if (tag.count == 1) { %>
					1 <span style="font-size:10px;">member</span>
				<% } else { %>
	                                <%= tag.count %> <span style="font-size:10px;">members</span>
				<% } %>
	        </div>
	        <div class="col-xs-3" style="text-align:right;">


                            <%# this chunk of code makes sure that a plus sign only appears in front of tags that the user hasn't added yet %>
                            <%
                                var userAlreadyAddedTag = false;
                                if (tags.length > 0) {
                                    tags.forEach(function(userTag) {
                                        if (userTag.description == tag.description) {
                                            userAlreadyAddedTag = true;
                                        }
                                    })
                                }
                            %>
                            <%if (!userAlreadyAddedTag) { %>
                                    <form id="<%= tag.description %>" method="POST" class="form-inline" action="/find/add_tag"> <!-- https://stackoverflow.com/questions/37954005/keep-scroll-position-of-a-div-after-a-form-submit-using-session-var-or-css -->
                                        <input type="hidden" name="tag" value="<%= tag.description %>">

					<button type="submit" class="btn btn-warning" style="background-color:#f39ab6;">
                                            <span style="letter-spacing: 0.07em;font-size:11px;font-family:Helvetica;font-weight:bold;">JOIN</span>
                                        </button>

                                    </form>
                            <% } else{ %>
                                <form id="<%= tag.description %>" method="POST" class="form-inline" action="/find/remove_tag">
                                        <input type="hidden" name="tag" value="<%= tag.description %>">

					<span class="poop">
					<button type="submit" class="btn btn-success" style="background-color:#e5e5e5;">
                                            <span style="font-size:11px;font-family:Helvetica;font-weight:bold;color:#44dd44;">JOINED</span>
                                        </button>
					</span>

                                </form>
                            <% } %>
            </div></div></td></tr>
            <% }) %>
        </table>
        </div>

	<br><br>

	<div class="row">
	<div class="col-md-12">
            <div class="well" style="background-color:#888888;margin-right:20px;">
            <form class="form-inline" method="POST" action="/find/add_tag">
                <div class="row">
                    <div class="col-xs-7">
                        <input type="text" name="tag" placeholder=" new entry name" maxlength="100" required="required">
                    </div>
                    <div class="col-xs-5" style="text-align:right;">

					<button type="submit" class="btn btn-success" style="background-color:#44dd44;">
                                            <span style="font-size:11px;font-family:Helvetica;font-weight:bold;color:#e5e5e5;">CREATE</span>
                                        </button>
                    </div>
                </div>
            </form>
            </div>
	</div>
	</div>
    </div>


<%if (kindred.length > 0) { %>
    <div class="col-md-4" style="background-color:#ffbcd9;margin:10px;">
    <br>



<!-- https://codepen.io/matthewhirsch/pen/OPwQRL -->
<div id="text-carousel" class="carousel" data-interval="false"> <!-- https://stackoverflow.com/questions/14977392/bootstrap-carousel-remove-auto-slide -->
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
            <div class="carousel-inner">

		<% var j = 1; %>
                <% kindred.forEach(function(user) { %>

                <div class="item <% if (j == 1) { %>active<% } %>">
                    <div class="carousel-content">
                        <div>
				<span style="font-size:10px;"><%= j++ %> of <%= kindred.length %></span>
				<br>

				<%= user.email %><br>
				<br>


				<b><u>Things In Common</u></b><br>
				<ul style="font-size:12px;">
                	        <% user.tags.forEach(function(tag) { %>
	                            <li><%= tag %></li>
        	                <% }); %>
				</ul>

                        </div>
                    </div>
                </div>

                <% }); %>
                
            </div>
        </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#text-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>







		<table class="table table-hover" style="background-color:#ffdcf9;">

		</table>



    </div>
<% } else{ %>
    <div class="col-md-4">
	<br>
    </div>
<% } %>


   <div class="col-md-2" style="text-align:left;">
<% } %>

	<br><br>

        <button type="button" class="btn btn-outline-secondary btn-lg" style="padding:20px;background-color:#888888;">
		<a style="color:white;" href="/logout">
			Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
		</a>
        </button>

	<br><br><br>

<% if (!frozen) { %>

	<form method="POST" class="form-inline" action="/find/all_schools">
		<span style="color:white;">search other schools?</span><br>
		<% if (searchAllSchools) { %>
                        <input type="hidden" name="allSchools" value="false">
			<input class="toggle" type="checkbox" onChange="this.form.submit()" checked />
		<% } else { %>
			<input type="hidden" name="allSchools" value="true">
			<input class="toggle" type="checkbox" onChange="this.form.submit()"/>
		<% } %>
	</form>

	<br><br><br>

    </div>
</div>
<% } %>


<% include ../views/partials/footer %>