<% include ../views/partials/header %>

<style>

/* https://codepen.io/matthewhirsch/pen/OPwQRL */
.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}

#text-carousel2 {
  width: 100%;
  height: auto;
  padding: 50px;
}

/* https://codepen.io/aaroniker/pen/XxPNqY */
.bottom_right {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}


/* https://danklammer.com/articles/simple-css-toggle-switch/ */
.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 62px;
  height: 32px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: "on off";
  display: block;
  position: absolute;
  z-index: 2;
  width: 28px;
  height: 28px;
  background: #fff;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  font: 10px/28px Helvetica;
  text-transform: uppercase;
  font-weight: bold;
  text-indent: -22px;
  word-spacing: 37px;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: #44ff44;
}

.toggle:checked:before {
  left: 32px;
}
</style>
















    </head>
    <body style="background-color:black;">          
    <div class="container">
        <%- messages('message', locals) %>


<br>
<br>
<%if (frozen) { %>
	<h1 style="color:#ff8800;">Your account is under review.</h1>
<% } else { %>


<div class="row">

    <div class="col-md-5" style="margin:10px;">
    <br>



<div id="text-carousel2" class="carousel" style="background-color:#ffffff;" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-0 col-xs-12">
            <div class="carousel-inner">

<% if (tagsAll.length == 0) { %>
                <div class="item active">
		<div style="margin-left:21px;">

            		<b><u><span style="font-family: 'Times New Roman', Times, serif;font-size:21px;word-wrap:break-word;display:inline-block;max-width:210px;">
				No results found
			</span></u></b>

			<br>
			<br>
                </div>
                </div> 
<% } %>






        	<% var k = 1; %>
                <% tagsAll.forEach(function(tag){ %>


		<%
			var userAlreadyAddedTag = false;
			if (tags.length > 0) {
				tags.forEach(function(userTag) {
					if (userTag.description == tag.description) {
						userAlreadyAddedTag = true;
					}
				})
			}
		%>

<% if (!statementIndex && k == 1) { %>
                <div class="item active">
<% } else { %>
                <div class="item <% if (statementIndex == tag.description) {%>active<%}%>">
<% } %>
                    <div class="carousel-content">
                        <div style="margin-left:21px;">


				<span style="font-size:14px;">
        				<%= k++ %> of <%= tagsAll.length %> statements
		            	</span>

        			<br>
		            	<br>

 
        			<b><u><span style="font-family: 'Times New Roman', Times, serif;font-size:21px;word-wrap:break-word;display:inline-block;max-width:210px;">
					<% if (query) { %>
						<%= tag.description.substring(0, tag.description.toLowerCase().indexOf(query.toLowerCase())) %><span style="background-color:yellow;"><%= tag.description.substring(tag.description.toLowerCase().indexOf(query.toLowerCase()), tag.description.toLowerCase().indexOf(query.toLowerCase())+query.length) %></span><%= tag.description.substring(tag.description.toLowerCase().indexOf(query.toLowerCase())+query.length, tag.description.length) %>
					<% } else { %>
	                			<%= tag.description %>
					<% } %>
				</span></u></b>

        			<br>


				<%if (!userAlreadyAddedTag) { %>
					<form method="POST" class="form-inline" action="/play/add_tag"> <!-- https://stackoverflow.com/questions/37954005/keep-scroll-position-of-a-div-after-a-form-submit-using-session-var-or-css -->
					  <input type="hidden" name="tag" value="<%= tag.description %>">

				<div style="float:left;">
				<input type="checkbox" onChange="this.form.submit()">
				</div>
				<div style="margin-left:7px;float:left;">
				That's Me
				</div>
				
					</form>

				<% } else{ %>
					<form method="POST" class="form-inline" action="/play/remove_tag">
					  <input type="hidden" name="tag" value="<%= tag.description %>">

				<div style="float:left;">
				<input type="checkbox" onChange="this.form.submit()" checked>
				</div>
				<div style="margin-left:7px;float:left;">
				That's Me
				</div>

					</form>
		<% } %>

                        </div>
                    </div>
                </div>

                <% }); %>
                
            </div>
        </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#text-carousel2" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#text-carousel2" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>

<br>

	<div class="row">
	<div class="col-md-12">
            <div class="well" style="background-color:#888888;margin-left:0px;margin-right:0px;">
            <form class="form-inline" method="POST" action="/play/search">
                <div class="row">

		<% if (query) { %>

                    <div class="col-xs-7" style="text-align:right;">
			<input type="hidden" name="statementQuery" value="">
                    </div>

                    <div class="col-xs-5" style="text-align:left;">
			<button type="submit" class="btn btn-warning" style="background-color:#ebb700;">
                            <span style="font-size:11px;font-family:Helvetica;font-weight:bold;color:#e5e5e5;"><i class="fas fa-undo"></i> RESET</span>
			</button>
                    </div>

		<% } else { %>

                    <div class="col-xs-7" style="text-align:right;">
                        <input type="text" name="statementQuery" placeholder=" search query" maxlength="100">
                    </div>

                    <div class="col-xs-5" style="text-align:left;">
			<button type="submit" class="btn btn-success" style="background-color:#44dd44;">
                            <span style="font-size:11px;font-family:Helvetica;font-weight:bold;color:#e5e5e5;"><i class="fas fa-search"></i> SEARCH</span>
			</button>
                    </div>

		<% } %>

                </div>
            </form>
            </div>
	</div>
	</div>

<% if (query === "") { %>

	<div class="row">
	<div class="col-md-12">
            <div class="well" style="background-color:#888888;margin-left:0px;margin-right:0px;">
			<form class="form-inline" method="POST" action="/play/add_tag">

				<input type="hidden" name="upload" value="true">

		                <div class="row">

		                    <div class="col-xs-7" style="text-align:right;">
        				<input type="text" name="tag" placeholder=" new statement" maxlength="100" required="required">
		                    </div>

                		    <div class="col-xs-5" style="text-align:left;">
					<button type="submit" class="btn btn-primary">
                		            <span style="font-size:11px;font-family:Helvetica;font-weight:bold;color:#e5e5e5;">CREATE <i class="fas fa-plus-circle"></i></span>
					</button>
                		    </div>

		                </div>

			</form>
            </div>
	</div>
	</div>

<% } %>

    </div>


<%if (kindred.length > 0) { %>
    <div class="col-md-4" style="margin:10px;">
    <br>



<div id="text-carousel" class="carousel" style="background-color:#f3c5e5;" data-interval="false"> <!-- https://stackoverflow.com/questions/14977392/bootstrap-carousel-remove-auto-slide -->
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-0 col-xs-12">
            <div class="carousel-inner">

		<% var j = 1; %>
                <% kindred.forEach(function(user) { %>

                <div class="item <% if (j == 1) { %>active<% } %>">
                    <div class="carousel-content">
                        <div>
				<span style="font-size:14px;">
					<%= j++ %> of <%= kindred.length %> matches
				</span>

				<br>
				<br>

				<b><u><span style="font-size:21px;word-wrap:break-word;display:inline-block;max-width:215px;">
<!--
					<%= user.email %>
-->
					<span style="color:#000000;background-color:black;"><%= user.email.substring(0, user.email.indexOf("@")) %></span>@<span style="color:#000000;background-color:black;"><%= user.email.substring(user.email.indexOf("@")+1, user.email.indexOf(".edu")) %></span>.edu
				</span></u></b>

 

				<ul style="font-size:12px;">
                	        <% user.tags.forEach(function(tag) { %>
	                            <li><%= tag %></li>
        	                <% }); %>
				</ul>

                        </div>
                    </div>
                </div>

                <% }); %>
                
            </div>
        </div>
    </div>
    <!-- Controls --> <a class="left carousel-control" href="#text-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
 <a class="right carousel-control" href="#text-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>

</div>

<br>

    </div>
<% } else{ %>

    <div class="col-md-4" style="margin:10px;">
	<br>
    </div>
<% } %>




<% } %>
    <div class="col-md-2" style="text-align:right;margin-left:20px;">

	<br>

<% if (!frozen) { %>

	<div style="display:inline-block;">
	<div style="text-align:left;">

	<form method="POST" class="form-inline" action="/play/all_schools">
	<span style="color:white;">
		<% if (searchAllSchools) { %>
                        <input type="hidden" name="allSchools" value="false">

  <input type="radio" id="male" name="gender" onChange="this.form.submit()">
  <label for="male" style="font-weight: normal;">my school</label><br>
  <input type="radio" id="female" name="gender" checked>
  <label for="female" style="font-weight: normal;">every school</label><br>

		<% } else { %>
			<input type="hidden" name="allSchools" value="true">

  <input type="radio" id="male" name="gender" checked>
  <label for="male" style="font-weight: normal;">my school</label><br>
  <input type="radio" id="female" name="gender" onChange="this.form.submit()">
  <label for="female" style="font-weight: normal;">every school</label><br>

		<% } %>
	</span>
	</form>

	</div>
	</div>
	<br>
	<br>

<% } %>

        <button type="button" class="btn btn-outline-secondary btn-md" style="padding:10px;background-color:#888888;">
		<a style="color:white;" href="/logout">
			Logout <i class="fa fa-sign-out" aria-hidden="true"></i>
		</a>
        </button>


    </div>

<% if (!frozen) { %>
</div>
<% } %>

<% include ../views/partials/footer %>