<% include ../views/partials/header %>

    </head>
    <body style="background-color:#ff44ff;">          

    <div class="container">
        <%- messages('message', locals) %>



<div class="row">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">

			<div class="row" style="text-align:center;">
				<div class="col-xs-3" style="background-color:#44ffff;"><br><a href="/weights" style="color:black;"><span style="font-size:10px;">Weights</span><br><i class="fas fa-balance-scale-right"></i></a><br><br></div>
				<div class="col-xs-3" style="background-color:white;"><br><a href="/twitter" style="color:black;"><span style="font-size:10px;">Twitter</span><br><i class="fab fa-twitter"></i></a><br><br></div>
				<div class="col-xs-3">
					<div class="row" style="text-align:center;">
						<div class="col-xs-4" style="background-color:#ff44ff;"><br><br><br><br></div>
						<div class="col-xs-8" style="background-color:#884488;opacity:0.35;"><br><br><br><br></div>
					</div>
				</div>
				<div class="col-xs-3" style="background-color:gray;"><br><a href="/logout" style="color:black;"><span style="font-size:10px;">Logout</span><br><i class="fas fa-sign-out-alt"></i></a><br><br></div>
			</div>

			<div class="row" style="text-align:center;">
				<div class="col-xs-7" style="background-color:#ff44ff;"><br><a href="/swipe" style="color:black;"><b>Swipe</b><br><i class="far fa-hand-point-right"></i> <span style="font-size:10px;"><%= kindred.length %></span></a><br><br></div>
				<div class="col-xs-5" style="background-color:#884488;opacity:0.35;"><br><a href="/matches" style="color:black;">Matches<br><i class="fas fa-people-arrows"></i> <span style="font-size:10px;"><%= friends %></span></a><br><br></div>
			</div>


<% if (kindred.length > 0) { %>
<div id="text-carousel" class="carousel" style="background-color:#ffffff;margin:15px;" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <div class="carousel-inner" style="text-align:center;">

		<% var j = 1; %>
                <% kindred.forEach(function(user) { %>

                <div class="item <% if (j == 1) { %>active<% } %>">
                    <div class="carousel-content">
				<br>
				<br>

				<span style="font-size:42px;">
					<i class="fas fa-user-alt"></i>
				</span>

				<br>

				<span style="font-size:14px;">
					match <%= j++ %> of <%= kindred.length %>
				</span>

<!--
				<br>

				<span style="font-size:12px;">
					affinity score: <%= user.weightSum %> pts
				</span>
-->
				<br>
				<br>

				<div style="font-size:12px;text-align:left;">
				<% user.tags.sort((a, b) => b[1] - a[1]); %>
                	        <% user.tags.forEach(function(tag) { %>
					<i class="far fa-comments"></i> You both tweeted, 
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp; 
					<span style="font-size:10px;">&ldquo;<%= tag[0] %>&rdquo;</span><br>
					&nbsp;&nbsp;&nbsp;&nbsp;
						<span style="font-size:8px;">
							You weighted it <%= tag[1] %>pt<% if(Math.abs(tag[1]) != 1){%>s<%}%>.
							They weighted it <%= tag[2] %>pt<% if(Math.abs(tag[2]) != 1){%>s<%}%>
						</span><br>
				    </tr>
        	                <% }); %>
				</div>

				<br>

				<form class="form-inline" method="POST" action="/match/swipe">

					<input type="hidden" name="matchId" value="<%= user.email %>">

					<button type="submit" class="btn btn-primary btn-lg">
						<i class="fas fa-hand-point-right"></i> <span style="font-size:12px;">click to &ldquo;Swipe Right&rdquo;</span>
					</button>
				</form>
<!--				<span style="font-size:10px;"><b>WARNING:</b> if you wave to someone<br>but don't talk to them after, you will get banned.</span> -->
                    </div>
                </div>

                <% }); %>
		<br>
		<br>
	    </div>
	</div>
    </div>
<% } %>
<% if (kindred.length > 1) { %>
    <!-- Controls --> 

 <a class="left carousel-control" style="background-color:gray;" href="#text-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span style="font-size:14px;">back</span>
  </a>

 <a class="right carousel-control" style="background-color:gray;" href="#text-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span style="font-size:14px;">next</span>
  </a>
<% } %>
<% if (kindred.length > 0) { %>
</div>
<% } %>


<% if (kindred.length == 0) { %>
<div id="text-carousel" class="carousel" style="background-color:#ffffff;margin:15px;" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <div class="carousel-inner" style="text-align:center;">

                <div class="item active">
                    <div class="carousel-content">
				<br>

				<h3>No matches<i>!</i></h3>
				<br>
				Hint: go to the <a href="/twitter">Twitter <i class="fab fa-twitter"></i></a> page and re-tweet <i class="fas fa-retweet"></i> for more matches.
				<br>
				<br>
				Or tweet something original <i class="far fa-comment"></i> and wait for others to re-tweet <i class="far fa-comments"></i> you.
                    </div>
                </div>

		<br>
		<br>
	    </div>
	</div>
    </div>
</div>
<% } %>


		</div>
	</div>

<% include ../views/partials/footer %>

