<% include ../views/partials/header %>

<style>
/* https://css-tricks.com/snippets/css/css-box-shadow/ */
.shadow3 {
  -moz-box-shadow:    1px 1px 3px 4px #ccc;
  -webkit-box-shadow: 1px 1px 3px 4px #ccc;
  box-shadow:         1px 1px 3px 4px #777;
}

.shadow2 {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #777;
}

.shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}
</style>

    </head>
    <body style="background-color:#ff44ff;">          

<% include ../views/partials/header2 %>


<% if (kindred.length > 0) { %>
<div id="text-carousel" class="carousel shadow2" style="background-color:#ffffff;margin:15px;" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <div class="carousel-inner" style="text-align:center;">

		<% var j = 1; %>
                <% kindred.forEach(function(user) { %>

                <div class="item <% if (j == 1) { %>active<% } %>">
                    <div class="carousel-content">
				<br>
				<br>

				<span style="font-size:42px;">
					<i class="fas fa-user-alt"></i>
				</span>

				<br>

				<span style="font-size:14px;">
					match <%= j++ %> of <%= kindred.length %>
				</span>

				<br>

				<span style="font-size:12px;">
					affinity score: <%= user.weightSum %> pt<% if (user.weightSum > 1) { %>s<% } %>
				</span>

				<br>
				<br>

				<div style="font-size:12px;text-align:left;">
				<% user.tags.sort((a, b) => b[3] - a[3]); %>
				<% var k = 1 %>
                	        <% user.tags.forEach(function(tag) { %>
					<% if (tag[3] > 0) { %>
						<img src="https://i.imgur.com/uVlwftM.png" alt="venn diagram">
						<font color="#FF0101">c</font><font color="#FE0E28">o</font><font color="#FD1B4F">m</font><font color="#FD2977">m</font><font color="#FC369E">o</font><font color="#FB43C5">n</font><font color="#C969BE">a</font><font color="#978EB7">l</font><font color="#64B4B1">i</font><font color="#32D9AA">t</font><font color="#00FFA3">y</font>
						<%= k++ %>
					<% } else { %>
						<b><font color="#f00;">polarization <i class="fas fa-exclamation"></i></font></b>
					<% } %>
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp; 
					<span style="font-size:10px;">&ldquo;<%= tag[0] %>&rdquo;</span><br>
					&nbsp;&nbsp;&nbsp;&nbsp;
						<span style="font-size:8px;">
							You gave it <%= tag[1] %>pt<% if(Math.abs(tag[1]) != 1){%>s<%}%>.
							They gave it <%= tag[2] %>pt<% if(Math.abs(tag[2]) != 1){%>s<%}%>.
						</span><br>
				    </tr>
        	                <% }); %>
				</div>

				<br>

				<form class="form-inline" method="POST" action="/match/swipe">

					<input type="hidden" name="matchId" value="<%= user.email %>">

					<button type="submit" class="btn btn-primary btn-lg shadow3" style="border-radius: 50%;font-size:21px;">
						<i class="fas fa-heart"></i>
						<!--<i class="fas fa-hand-point-right"></i> <span style="font-size:12px;">click here to &ldquo;Swipe Right&rdquo;</span>-->
					</button>
				</form>
<!--				<span style="font-size:10px;"><b>WARNING:</b> if you wave to someone<br>but don't talk to them after, you will get banned.</span> -->
                    </div>
                </div>

                <% }); %>
		<br>
		<br>
	    </div>
	</div>
    </div>
<% } %>
<% if (kindred.length > 1) { %>
    <!-- Controls --> 

 <a class="left carousel-control" style="background-color:gray;" href="#text-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span style="font-size:14px;">back</span>
  </a>

 <a class="right carousel-control" style="background-color:gray;" href="#text-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span style="font-size:14px;">next</span>
  </a>
<% } %>
<% if (kindred.length > 0) { %>
</div>
<% } %>


<% if (kindred.length == 0) { %>
<div id="text-carousel" class="carousel" style="background-color:#ffffff;margin:15px;" data-interval="false">
    <!-- Wrapper for slides -->
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8">
            <div class="carousel-inner" style="text-align:center;">

                <div class="item active">
                    <div class="carousel-content">
				<br>

				<h3>No matches<i>!</i></h3>
				<br>
				<span style="font-size:12px;">
				Hint: go to the <a href="/commonalities">Commonalities <i class="fas fa-people-arrows"></i></a> page and add some commonalities.
				</span>
				<br>
				<br>
                    </div>
                </div>

		<br>
		<br>
	    </div>
	</div>
    </div>
</div>
<% } %>


		</div>
	</div>

<% include ../views/partials/footer %>

